<h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Edit product</h2>

<%= render 'form', product: @product %>

<p class="mt-10 text-center text-sm text-gray-500">
    <%= link_to 'Back to Products', products_path, class: "underline font-semibold leading-6 text-indigo-600 hover:text-indigo-500" %>
</p>
